if(.Platform$OS.type == "windows"){
	useDynLib("dbfml.dll")
}else{
	useDynLib("dbfmcl")
}

importClassesFrom(methods, character, list, matrix, vector)

importMethodsFrom(methods, show)



importFrom("grDevices", "colorRampPalette")
importFrom("methods", "new", "slot", "slotNames")
importFrom("stats", "sd", dist, hclust, heatmap, median, rnorm)
importFrom("utils", "object.size", "read.table", "write.table")
importFrom(dplyr, summarise, group_by)
importFrom(ggplot2, ggplot, theme_bw,
            facet_grid, geom_line, aes,
            theme, scale_fill_gradientn, geom_tile,
            element_text, element_blank)
importFrom(reshape2, melt)
importFrom(magrittr, '%>%')
importFrom(testthat, expect_equal)
exportClasses("ClusterSet")

export(DBFMCL,
        DBF,
        mcl_system_cmd,
        get_data_4_DBFMCL,
        plot_clust,
        load_seurat,
        write_clust,
        VERBOSITY_DBFMCL)


