if(.Platform$OS.type == "windows"){
	useDynLib("RTools4TB.dll")
}else{
	useDynLib("RTools4TB")
}


#Imports: Biobase, graphics, grDevices, limma, methods, stats, utils

importClassesFrom(methods, character, list, matrix, vector)

importMethodsFrom(Biobase, exprs)
importMethodsFrom(methods, show)

importFrom(Biobase, isUnique)
importFrom(graphics, lines, matplot, title)
importFrom(grDevices, col2rgb, dev.off, png, rainbow, rgb, X11)
importFrom(limma, normalizeQuantiles)
#importFrom(methods, "@<-", new, slot, slotNames)
importFrom(stats, dist, hclust, heatmap, median, rnorm)
importFrom(utils, browseURL, download.file, object.size, read.table,
           write.table)



exportClasses("DBFMCLresult")

export(createSignatures4TB,
	DBFMCL,
	getData4DBFMCL,
	doRankTransformation,
	DBF,
	MCL,
	doNormalScore,
	writeDBFMCLresult,
	clusterEisen,
	heatmapFromCDT,
	colorScale,
	plotGeneExpProfiles,
	matplotProfiles,
	getSignatures,
	getExpressionMatrix,
	getTBInfo,
	createGraph4BioC)

